## Starter Code for Team 8 Netflix Project
-Zack Crowley

In [1]:
# Dependencies:
import numpy as np
import pandas as pd
import scipy.stats as stat
from matplotlib import pyplot as plt
import country_converter as coco

In [2]:
# Data 
# global netflix data from netflix.com top 10 weekly shows
netflix_df = pd.read_csv("cleaned_netflix_data.csv")
print(netflix_df.dtypes)
netflix_df.head()

week                           object
category                       object
weekly_rank                     int64
weekly_hours_viewed             int64
cumulative_weeks_in_top_10      int64
Show_title                     object
type                           object
description                    object
release_year                    int64
age_certification              object
runtime (mins)                float64
genres                         object
production_countries           object
imdb_id                        object
imdb_score                    float64
imdb_votes                     object
drama                           int64
comedy                          int64
action                          int64
family                          int64
crime                           int64
romance                         int64
dtype: object

,week,category,weekly_rank,weekly_hours_viewed,cumulative_weeks_in_top_10,Show_title,type,description,release_year,age_certification,...,production_countries,imdb_id,imdb_score,imdb_votes,drama,comedy,action,family,crime,romance
0,2022-10-30,Films (English),1,68310000,1,the good nurse,movie,An infamous caregiver is implicated in the dea...,2022,R,...,United States,tt4273800,7.1,204,1,0,0,0,1,0
1,2022-10-30,Films (English),2,41950000,2,the school for good and evil,movie,Best friends Sophie and Agatha find themselves...,2022,PG-13,...,United States,tt2935622,5.8,"18,952",1,1,1,0,0,0
2,2022-10-30,Films (English),3,9170000,2,the stranger,SHOW,A web of secrets sends family man Adam Price o...,2020,TV-MA,...,['GB'],tt9698480,7.3,48298.0,1,0,0,0,1,0
3,2022-10-30,Films (English),4,8890000,1,wild is the wind,movie,An immigrant Nevada rancher brings a woman fro...,1957,Not Rated,...,United States,tt0051193,6.7,"1,027",1,0,0,0,0,0
4,2022-10-30,Films (English),5,8170000,3,the curse of bridge hollow,movie,"A teenage girl, who accidentally releases an a...",2022,TV-14,...,United States,tt15289240,NaN,"4,085",0,1,0,1,0,0

In [3]:
# Count all vars:
netflix_df.count()
# Rm extra index rows from past csv exports:
# del netflix_df["Unnamed: 0"]
# del netflix_df["Unnamed: 0.1"]
# del netflix_df["Unnamed: 0.1.1"]

week                          2069
category                      2069
weekly_rank                   2069
weekly_hours_viewed           2069
cumulative_weeks_in_top_10    2069
Show_title                    2069
type                          2069
description                   2069
release_year                  2069
age_certification             2069
runtime (mins)                2069
genres                        2069
production_countries          2069
imdb_id                       2069
imdb_score                    2062
imdb_votes                    2068
drama                         2069
comedy                        2069
action                        2069
family                        2069
crime                         2069
romance                       2069
dtype: int64

In [4]:
# Create df's for each of the 4 categories: Show/film and English/Non-English
# var = category

eng_film_df = netflix_df.loc[netflix_df["category"]=="Films (English)"]
eng_show_df = netflix_df.loc[netflix_df["category"]=="TV (English)"]
non_eng_film_df = netflix_df.loc[netflix_df["category"]=="Films (Non-English)"]
non_eng_show_df = netflix_df.loc[netflix_df["category"]=="TV (Non-English)"]

# Count all:
print(f"English Films:",eng_film_df["Show_title"].nunique())
print(f"English Show:",eng_show_df["Show_title"].nunique())
print(f"Non-English Films:",non_eng_film_df["Show_title"].nunique())
print(f"Non-English Show:",non_eng_show_df["Show_title"].nunique())
# Not a lot of Non-english films by comparison.
print(f"total unique shows:",eng_film_df["Show_title"].nunique() + eng_show_df["Show_title"].nunique() + 
                            non_eng_film_df["Show_title"].nunique()+non_eng_show_df["Show_title"].nunique())

English Films: 263
English Show: 152
Non-English Films: 92
Non-English Show: 139
total unique shows: 646

In [7]:
# Fix runtime, genre and production_country:
# Genre:
genre = netflix_df["genres"]
netflix_df["genres"] = netflix_df["genres"].str.lower()
netflix_df["genres"] = netflix_df["genres"].str.replace("[", "").str.replace("\'", "").str.replace("]", "")
print(netflix_df["genres"])

0                                 biography, crime, drama
1                                   action, comedy, drama
2                                  thriller, crime, drama
3                                                   drama
4                               adventure, comedy, family
                              ...
2064                               thriller, drama, crime
2065                               thriller, drama, crime
2066                               thriller, drama, crime
2067                               drama, thriller, scifi
2068    animation, action, scifi, drama, fantasy, thri...
Name: genres, Length: 2069, dtype: object

In [15]:
# age_certification:
netflix_df["age_certification"].unique()

array(['R', 'PG-13', 'TV-MA', 'Not Rated', 'TV-14', 'PG', 'Passed',
       'TV-PG', 'NC-17', 'TV-Y7', 'G', 'TV-Y', 'TV-G', 'Unrated'],
      dtype=object)

In [19]:
# Change imdb_votes to float:
netflix_df['imdb_votes'] = netflix_df['imdb_votes'].str.replace(",","").astype(float)
netflix_df['imdb_votes'].dtypes

dtype('float64')

In [8]:
#add an indicator var for each of the following from the genres column,  if contained in 'genres' then 1, otherwise 0:
netflix_df['drama'] = netflix_df['genres'].str.contains('drama').astype(int)
netflix_df['comedy'] = netflix_df['genres'].str.contains('comedy').astype(int)
netflix_df['action'] = netflix_df['genres'].str.contains('action').astype(int)
netflix_df['family'] = netflix_df['genres'].str.contains('family').astype(int)
netflix_df['crime'] = netflix_df['genres'].str.contains('crime').astype(int)
netflix_df['romance'] = netflix_df['genres'].str.contains('romance').astype(int)

In [ ]:
# Runtime, make all float type and rename, all in minutes:
netflix_df["runtime"] = netflix_df["runtime"].str.rstrip(' min').str.rstrip('.0')
netflix_df["runtime"] = netflix_df["runtime"].replace(np.nan, "0").replace("","0")
netflix_df["runtime"] = netflix_df["runtime"].astype(float)
netflix_df["runtime"].unique()
# Rename col to specifiy runtime is in minutes:
netflix_df.rename({'runtime': 'runtime (mins)'}, axis=1, inplace=True)

In [ ]:
# Year (just the first 4 char)):
netflix_df["release_year"] = netflix_df["release_year"].str[:4]
netflix_df["release_year"]

In [13]:
# production_country:
# netflix_df["production_countries"].unique()
# netflix_df["production_countries"] = netflix_df["production_countries"].str.replace("[", "").str.replace("\'", "").str.str.replace("]", "")("]", "")

# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("US","United States")
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("AU","Australia")
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("GB","United Kingdom")
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("CA","Canada")
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("JP","Japan")
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("KR","South Korea")
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("ES","Spain")
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("ES","Spain")
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("CZ","Czech Republic")
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("MX","Mexico")
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("IT","Italy")
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("LU","Luxembourg")    
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("IN","India")
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("PL","Poland")
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("DE","Germany")
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("BE","Belgium")
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("TR","Turkey")
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("ZA","South Africa")
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("CL","Chile")
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("NG","Nigeria")
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("KN","Saint Kitts and Nevis")
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("CO","Columbia")
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("BG","Bulgaria")
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("FR","France")
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("AR","Argentina")
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("AT","Austria")
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("BR","Brazil")
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("QA","Qatar")
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("CH","Switzerland")
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("HU","Hungary")
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("PE","Peru")
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("DK","Denmark")
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("LT","Lithuania")
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("GR","Greece")
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("IE","Ireland")
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("IL","Israel")
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("IS","Iceland")
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("JO","Jordan")
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("NL","Netherlands")
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("HK","Hong Kong")
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("NZ","New Zealand")
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("SE","Sweden")
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("SG","Singaport")
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("RO","Romania")
# netflix_df['production_countries'] = netflix_df['production_countries'].str.replace("TH","Thailand")

prod_cntry = netflix_df["production_countries"]
prod_cntry.unique()

array(['United States', 'United Kingdom', 'Japan, United States, France',
       'South Korea', 'Poland', 'Japan', 'India',
       'United States, Canada, Vietnam', 'United States, Mexico',
       'Germany', 'United States, United Kingdom',
       'United States, Germany', 'Netherlands', 'Denmark',
       'Canada, United States', 'Sweden', 'Colombia, United States',
       'Italy', 'Belgium, United States', 'Mexico, Colombia', 'Australia',
       'Canada', 'France', 'Poland, United States',
       'United States, Argentina', 'United States, South Korea',
       'United States, Canada', 'Mexico', 'United Kingdom, United States',
       'Thailand, United States',
       'United States, China, United Kingdom, Japan', 'Spain',
       'United States, France, Japan', 'Australia, United States',
       'Brazil', 'Norway', 'United States, United Kingdom, Germany',
       'Turkey', 'Iceland', 'United States, Czech Republic',
       'Hong Kong, China', 'Italy, Spain', 'South Africa',
       'United States, China, Hong Kong, Australia, Canada',
       'Finland, United States', 'Spain, United States', 'Argentina',
       'United Kingdom, United States, India, Spain',
       'United States, United Arab Emirates',
       'United Kingdom, Canada, United States', 'United States, Japan',
       'Luxembourg', 'Colombia', 'United States, Japan, Canada',
       'United States, CN', 'Germany, Australia', 'France, Germany',
       'Belgium', 'France, Japan, United States',
       'Bulgaria, United States', 'Columbia',
       'Spain, Saint Kitts and Nevis', '', 'China, United States',
       'Chile', 'United States, Nigeria',
       'Canada, Hungary, Mexico, Spain, United Kingdom, United States',
       'United States, South Africa',
       'United States, Italy, Hong Kong, Canada', 'Belgium, France',
       'Iceland, Denmark', 'United States, China, Japan',
       'United States, France', 'Spain, France',
       'Netherlands, France, West Germany', 'United States, Australia',
       'United Kingdom, Australia, Canada, Greece, New Zealand',
       'Brazil, United States', 'France, United States',
       'Greece, United Kingdom, United States',
       'United Kingdom, United States, Germany', 'Austria, Germany',
       'Thailand', 'United States, China',
       'Brazil, Germany, Qatar, Mexico, United States, Switzerland, Argentina',
       'Germany, United States', 'United States, Bulgaria',
       'United States, Canada, United Kingdom',
       'United States, China, Canada',
       'Germany, United Kingdom, Canada, Sweden, United States',
       'Nigeria', 'United Kingdom, United States, Australia',
       'China, India, Hong Kong, United States',
       'Ireland, United States, Canada', 'France, Germany, United States',
       'Chile, Peru', 'Romania, United States',
       'United States, Japan, Thailand',
       'Switzerland, United Kingdom, United States, Mexico',
       'Sweden, Romania', 'Germany, Czech Republic',
       'South Africa, United States, Japan',
       'Hong Kong, China, United States', 'Singaport, United States',
       'Canada, United Kingdom, United States',
       'South Africa, United Kingdom, United States', 'Israel', 'Jordan',
       'Italy, Brazil', 'Russia', 'China, United States, Canada, Japan',
       'New Zealand, Hong Kong', 'France, Lithuania, United Kingdom'],
      dtype=object)

In [20]:
# Export csv:
# print(netflix_df.dtypes)
# netflix_df.to_csv("cleaned_netflix_data.csv", index=False)

week                           object
category                       object
weekly_rank                     int64
weekly_hours_viewed             int64
cumulative_weeks_in_top_10      int64
Show_title                     object
type                           object
description                    object
release_year                    int64
age_certification              object
runtime (mins)                float64
genres                         object
production_countries           object
imdb_id                        object
imdb_score                    float64
imdb_votes                    float64
drama                           int64
comedy                          int64
action                          int64
family                          int64
crime                           int64
romance                         int64
dtype: object